services:
  adk:
    build:
      context: .
      dockerfile: Dockerfile
      target: web
    platform: linux/amd64
    # Staging ECR:
    # image: 173331852279.dkr.ecr.eu-west-2.amazonaws.com/gds-eligability-adk-repo:latest
    # Dev ECR:
    image: 453624448465.dkr.ecr.eu-west-2.amazonaws.com/gds-eligability-adk-repo:latest
    environment:
    - AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY
    - AWS_SESSION_TOKEN
    - AWS_REGION
    - UV_LINK_MODE=copy
    - PROMPTS_DIR=/prompts
    volumes:
      - ./src/adk/gds_eligibility:/app/src/gds_eligibility
      - ./prompts/:/prompts
    ports:
      - 12345:8000
  root:
    build:
      context: .
      dockerfile: Dockerfile
      target: web
    environment:
    - AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY
    - AWS_SESSION_TOKEN
    - AWS_REGION
    - UV_LINK_MODE=copy
    volumes:
      - ./src/adk/root/agent.py/:/app/src/root/agent.py
      - ./src/adk/eligibility/agent.json:/app/src/root/agent_cards/eligibility.json
      - ./src/adk/fishing_licence/agent.json:/app/src/root/agent_cards/fishing_licence.json
      - ./src/adk/taxation/agent.json:/app/src/root/agent_cards/taxation.json
    ports:
      - 8000:8000
  eligibility:
    build:
      context: .
      dockerfile: Dockerfile
      target: api_server
    environment:
    - AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY
    - AWS_SESSION_TOKEN
    - AWS_REGION
    - UV_LINK_MODE=copy
    volumes:
      - ./src/adk/eligibility/:/app/src/eligibility
      - ./src/adk/pip/agent.json:/app/src/root/eligibility/agent_cards/pip.json
    ports:
      - 8001:8000
  fishing:
    build:
      context: .
      dockerfile: Dockerfile
      target: api_server
    environment:
    - AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY
    - AWS_SESSION_TOKEN
    - AWS_REGION
    - UV_LINK_MODE=copy
    volumes:
      - ./src/adk/fishing_licence/:/app/src/fishing_licence
  pip:
    build:
      context: .
      dockerfile: Dockerfile
      target: api_server 
    environment:
    - AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY
    - AWS_SESSION_TOKEN
    - AWS_REGION
    - UV_LINK_MODE=copy
    volumes:
      - ./src/adk/pip/:/app/src/pip
  taxation:
    build:
      context: .
      dockerfile: Dockerfile
      target: api_server 
    environment:
    - AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY
    - AWS_SESSION_TOKEN
    - AWS_REGION
    - UV_LINK_MODE=copy
    volumes:
      - ./src/adk/taxation/:/app/src/taxation
      - ./src/adk/tax_code/agent.json:/app/src/root/taxation/agent_cards/tax_codes.json

  tax_code:
    build:
      context: .
      dockerfile: Dockerfile
      target: api_server 
    environment:
    - AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY
    - AWS_SESSION_TOKEN
    - AWS_REGION
    - UV_LINK_MODE=copy
    volumes:
      - ./src/adk/tax_code/:/app/src/tax_code