services:
  adk:
    build:
      dockerfile: Dockerfile
      target: web
    platform: linux/amd64
    image: 173331852279.dkr.ecr.eu-west-2.amazonaws.com/gds-eligability-adk-repo:latest
    environment:
    - AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY
    - AWS_SESSION_TOKEN
    - AWS_REGION
    - UV_LINK_MODE=copy
    - PROMPTS_DIR=/prompts
    volumes:
      - ./src/adk/:/app/src
      - ./prompts/:/prompts
    ports:
      - 8000:8000
