/*-- scss:defaults --*/

/*
Not entirely clear what all the options are
but a lot of them are here:
https://github.com/quarto-dev/quarto-cli/blob/5f760c5e0d76f87c8910ba07d8b633fb2155a899/src/resources/formats/html/bootstrap/_bootstrap-variables.scss
*/

//$body-bg: #38393b;
$body-bg: #0e1117;
$body-color: #fff;
$link-color: #42affa;
$presentation-h1-font-size: 1.5;
$presentation-font-size-root: 30px;
$code-block-font-size: 20px;


/*-- scss:rules --*/

.reveal p {
  display: block;
  margin: .5em;
  height: auto;
}

.smallfont {
  font-size: 0.8em;
  text-align: "center";
}

.center h2 {
  text-align: center;
}

.svgmontserrat {
  font-family: "Montserrat", sans-serif;
}

.text_blockquote {
  border: 1px solid white;
}

.reveal .slides>section {
  transition: none !important;
}

.reveal .slides {
  transition: none !important;
}

.reveal .backgrounds {
  transition: none !important;
}

.custom-border {
  border-style: solid !important;
  border-width: 1px !important;
  border-color: white !important;
  width: 50%
}

#fig-qrs>figure>figcaption {
  display: none !important;
  /* Hides the overall caption */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.reveal div.sourceCode::-webkit-scrollbar,
.reveal pre.sourceCode::-webkit-scrollbar,
.reveal pre::-webkit-scrollbar,
.reveal code::-webkit-scrollbar {
  display: none !important;
}

/* Hide scrollbar for IE, Edge and Firefox */
.reveal div.sourceCode,
.reveal pre.sourceCode,
.reveal pre,
.reveal code {
  -ms-overflow-style: none !important;  /* IE and Edge */
  scrollbar-width: none !important;     /* Firefox */
}