services:
  # api_server:
  #   build:
  #     dockerfile: Dockerfile
  #     target: api_server
  #   image: 261219435789.dkr.ecr.eu-west-2.amazonaws.com/gds-eligibility-adk-repo:stable
  #   environment:
  #   - AWS_ACCESS_KEY_ID
  #   - AWS_SECRET_ACCESS_KEY
  #   - AWS_SESSION_TOKEN
  #   - AWS_REGION
  #   # - BEDROCK_AGENT_ID=JB7EWYCJUU
  #   # - BEDROCK_AGENT_ALIAS_ID=VMQID45HH7
  #   - UV_LINK_MODE=copy
  #   - PROMPTS_DIR=/prompts
  #   volumes:
  #     - .:/app
  #     - ../../prompts/:/prompts
  #   ports:
  #     - 8001:8000
  web:
    build:
      dockerfile: Dockerfile
      target: web
    image: 261219435789.dkr.ecr.eu-west-2.amazonaws.com/gds-eligibility-adk-repo:stable
    environment:
    - AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY
    - AWS_SESSION_TOKEN
    - AWS_REGION
    # - BEDROCK_AGENT_ID=JB7EWYCJUU
    # - BEDROCK_AGENT_ALIAS_ID=VMQID45HH7
    - UV_LINK_MODE=copy
    - PROMPTS_DIR=/prompts
    volumes:
      - .:/app
      - ../../prompts/:/prompts
    ports:
      - 8000:8000
