services:
  adk:
    build:
      dockerfile: Dockerfile
    image: 261219435789.dkr.ecr.eu-west-2.amazonaws.com/gds-eligability-adk-repo:stable
    environment:
    - AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY
    - AWS_SESSION_TOKEN
    - AWS_REGION
    - BEDROCK_AGENT_ID=JB7EWYCJUU
    - BEDROCK_AGENT_ALIAS_ID=VMQID45HH7
    volumes:
      - .:/app
    ports:
      - 8000:8000
