services:
  web:
    build:
      dockerfile: Dockerfile
      target: web
    environment:
    - AWS_ACCESS_KEY_ID
    - AWS_SECRET_ACCESS_KEY
    - AWS_SESSION_TOKEN
    - AWS_REGION
    - UV_LINK_MODE=copy
    - PROMPTS_DIR=/prompts
    volumes:
      - .:/app/src
      - ../../prompts/:/prompts
    ports:
      - 8000:8000
